.bloop
.bsp
.idea
.metals
.vscode
dev/app/Dockerfile
dev/compose/docker-compose.yml
dev/mqtt/mosquitto/Dockerfile
project/.bloop
project/project
project/target
project/metals.sbt
target
.dockerignore
.gitignore
.LICENSE
README.md
*.semanticdb
