*.class
*.log

target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/
.history
.cache
.lib/
dist/*

.idea
.idea_modules
*.iws
/.bsp/sbt.json

.bloop
.bsp
.metals
.vscode
project/.bloop
project/project
project/target
project/metals.sbt
*.semanticdb
slim.report.json

src/main/scala/Main.scala
